body {
  padding: 20px;
}

.react-contextmenu--visible {
  background: white;
  z-index: 10;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, #eeeeee 0px 0px 0px 1px;
}

.options-page {
  width: 100%;
  height: 100%;
}

.add-link {
  max-width: 100px !important;
  min-height: 104px !important;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.add-link:hover {
  background-color: #f5f5f5;
}

.add-link .add-link__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  background-image: url(../images/icons/add-link.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 52px;
}

.add-link .add-link__button:hover {
  transform: scale(1.1);
}

.add-link .add-link__description {
  margin: 0;
  text-align: center;
}

.domain, .domain--disabled {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  max-width: 100px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.domain:hover, .domain--disabled:hover {
  background-color: #f5f5f5;
}

.domain .domain__favicon, .domain--disabled .domain__favicon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.domain .domain__vertical-menu, .domain--disabled .domain__vertical-menu {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  position: absolute;
  background: none;
  border: none;
  top: 8px;
  right: 8px;
  height: 20px;
  width: 15px;
  background-image: url(../images/icons/vertical-menu.png);
  background-size: 20px;
  background-repeat: no-repeat;
  outline: 0;
}

.domain .domain__name, .domain--disabled .domain__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  margin: 0;
  font-weight: 500;
  width: 100%;
}

.contextmenu-icon {
  padding-top: 2px;
}

.domain--disabled {
  opacity: 0.6;
}

.popup-body {
  width: 350px;
  height: 500px;
}
