@include nestedBlock('add-link') {
  @include nestedElement('button') {
    @include appearance-none;

    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    background-image: url(../images/icons/add-link.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 52px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
