.domain {
  @include border-radius(8px);

  max-width: 110px !important;
  min-width: 110px;
  min-height: 120px;
  max-height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  padding: 10px !important;

  &:hover {
    background-color: #f5f5f5;
  }
}
