.disclaimer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: white;
  padding: 20px;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 0 3px 1px #a9a9a9;
  max-width: 1100px;
}
