/// OpenThem border radius standard
$ot--border-radius: 10px;

$transition--default-duration: 1s;
$transition--default-delay: 0s;
$transition--default-timing-function: linear;
$link-image-width: 60px;
$link-image-height: 60px;
$link-image-background-color: #e6e6e6;
