@font-face {
    font-family: Open Sans;
    src: url("./fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: Open Sans;
    src: url("./fonts/OpenSans/OpenSans-SemiBold.ttf");
    font-weight: 600;
}
* {
  font-family: Open Sans;
}
